/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif; /* Police par défaut */
    line-height: 1.6;
    margin: 0;
    background-color: #FFF0DC;
}

header {
    padding: 3rem 0 1rem 0;
    height: 14vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Header */
header h1 img{
    width: 8vw;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header nav ul li a {
    font-weight: 500; /* Appliquer un poids moyen */
    font-size: 1rem; /* Taille adaptée */
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* S'assure que la navbar reste au-dessus */
    background-color: transparent; /* Transparent au début */
    color: white; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Lorsque la classe "scrolled" est ajoutée */
header.scrolled {
    opacity: 95%;
    background-color: #FFF0DC; /* Couleur de fond */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajoute une ombre subtile */
}

header nav ul li a {
    color: #37393A; /* Assurez-vous que les liens sont visibles */
    text-decoration: none;
    font-weight: bold;
}


/* Hero Section */
#hero-content {
    background-color: #FFF0DC;
    text-align: center;
    padding: 10% 60% 10% 10%;
    height: 100vh;
    background-image: url(images/decliq_main.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 100%;
}

#hero {
    background-color: #37393A;
    text-align: center;
    padding: 10% 60% 10% 10%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 100%;
    color: #FAFAFA;
}

#hero p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 400; /* Poids léger */
    text-align: left;
}

.hero-content {
    margin-top: 12rem;
    margin-right: 2rem;
}

#hero-devise {
    font-size: 3rem;
    font-weight: bold;
}

#hero h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700; /* Gras */
    font-size: 3rem; /* Ajusté pour être clair et impactant */
    text-align: left;
}

#hero-news{
    position: absolute;
    top: 35%; 
    left: 65%;

}

#hero-news img{
    width: 30vw;
}

#newsletter-form button {
    font-family: "Inter", sans-serif;
    font-weight: 600; /* Appliquer un poids semi-gras */
    font-size: 1rem; /* Taille cohérente */
}

section h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700; /* Gras pour les titres de section */
    font-size: 2rem;
}

footer {
    font-family: "Inter", sans-serif;
    font-weight: 400; /* Poids léger pour les informations de bas de page */
}

#newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 20rem;
}

#newsletter-form input {
    padding: 0.5rem;
    width: 300px;
    border: 1px solid #FAFAFA;
    border-radius: 5px;
    margin-right: 1rem;
}

#newsletter-form button {
    padding: 0.7rem 1.5rem;
    background-color: #8D4CF8;
    color: #FAFAFA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#newsletter-form button:hover {
    background-color: #541faa;
}

#newsletter-form-container {
    display: flex;
    justify-content: space-between;
}

#fonctionnement{
    height: 100vh;
    background-color: #37393A;
    color: #FAFAFA;
    text-align: center;
    padding-top: 10vh;
    font-size: 1rem;
}

#fonctionnement h2{
    color:#8D4CF8;
    margin-bottom: 5vh;
    font-size: 3rem;
}

#fonctionnement #infos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#fonctionnement #infos div{
    width: 30vw;
    margin-top: 10vh;
    margin-right: 1rem;
    margin-left: 1rem;
}

#fonctionnement #infos img{
    height: 20vh;
    margin-bottom: 3vh;
}

#a-propos {
    height: 100vh;
    color: #37393A;
}

#a-propos #description {
    padding: 10% 60% 10% 10%;
}

#description p {
    margin-bottom: 4rem;
    font-size: 1.2rem;
}

#a-propos #infos{
    position: absolute;
    top: 240%; 
    left: 40%;
    width: 40vw;
}

#a-propos #notif{
    position: absolute;
    top: 215%; 
    left: 80%;
    width: 12vw;
}

#notif {
    margin-top: 5rem;
}

#infos {
    margin-top: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

#contact{
    height: 100vh;
    background-color: #37393A;
    color: #FAFAFA;
}

section {
    padding: 2rem 1rem;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}


html {
    scroll-behavior: smooth;
}

